* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.sfondo {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( #479388 15%, #c2c0c0 15%);
}

.container {
    max-width: 80%;
    height:100vh;
    margin:0px auto ;
    padding-top:10px;
    padding-bottom: 20px;
    display: flex;
}

.side-left {
    width: 40%;
    height:calc(100vh - 20px);
}

.side-header-l {
    height: 100px;
    background-color:rgb(235, 235, 235) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    margin-right: 30px;
}

.header-right .fa-solid {
    font-size: 25px;
    margin-left: 20px;
    color: rgb(172, 169, 169);
}

.header-left img {
    max-width: 60px;
    border-radius: 50%;
    margin: 15px 15px;
    vertical-align: middle;
}


.notifiche {
    height: 100px;
    background-color: #9FD8F8;
    position: relative;
    

}

.notifiche i {
    font-size: 30px;
    color: #9FD8F8;
    margin: 15px auto;
    
    
    
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    position: absolute;
    margin:15px 30px;
    

}

.notifiche-mes {
    float: left;
    margin-left: 125px;
    margin-top: 30px;
    vertical-align: middle;

}
.chat {
    background-color:rgb(234, 243, 243);
    height:calc(100% - 200px);
    width: 100%;

}

.search {
    border: solid 1px lightgray;
    width: 95%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0px auto;
}

.search i {
    font-size: 20px;
    margin: 5px 10px;
    color: rgb(172, 169, 169);
}

.search input {
    width: 85%;
    height:90%;
}

.side-right {
    width: 60%;
    height: 100%;

}

.side-header-r {
    border-left: solid 0.5px gray;
    width: 100%;
    height: 100px;
    background-color:rgb(235, 235, 235) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mine {
    width: 100%;
    height: calc(100% - 190px);
    background-image: url("..//img/mine.jpg");
}

.bottom {
    background-color: #F3EEEA ;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom .fa-solid {
    
    font-size: 30px;
    color: gray;
}

.bottom .fa-regular {
    font-size: 30px;
    color: gray;

}

.bottom input {
    width: 40%;
    height: 50px;
}

