<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Short+Stack&display=swap" rel="stylesheet">
</head>
<body>
   
<!--inizio del sito-->    
    <main>
        <div class="sfondo">
            <div class="container" id="app">
                <div class="side-left">
                    <div class="side-header-l">
                        <div class="header-left">
                            <img src="img/avatar_8.jpg" alt="">
                            <span>Nome Utente</span>
                        </div>
                        <div class="header-right">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="notifiche">
                        <div class="circle">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notifiche-mes">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
<!--lista utenti sulla sinistra--> 

                    <div class="chat">
                        <div class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="cerca in chat..." v-model="cerca" @keyup="search()">
                        </div>
                        <div class="contact" 
                            :class="(index == active) ? 'active':''" 
                            v-for="(contact,index) in contacts" 
                            @click="setActiveContact(index)"
                            v-if="contact.visible == true">
                            
                            <div class="contact-logo">
                                <img :src='"img/avatar" + contact.avatar +".jpg"'>
                            </div>
                            <div class="contact-info">
                                <h3>{{contact.name}}</h3>
                                <span>lorem ipsum...</span>
                            </div>
                        </div>
                    </div>
                </div>
<!--parte alta lato destro dove viene visualizzato l'utente con cui si sta parlando-->

                <div class="side-right">
                    <div class="side-header-r">
                        <div class="header-left">
                            <img :src="`img/avatar${contacts[active].avatar}.jpg`">
                            <span>{{contacts[active].name}}</span>
                        </div>
                        <div class="header-right">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
<!--parte centrale dove vengono visualizzati i mes mandati e ricevuti-->

                    <div class="mine">
                        <div v-for="message in contacts[active].messages" class="message" :class="message.status">
                            {{message.text}}
                            <div class="sentDate">
                                {{message.date}}
                            </div>
                        </div>
                        

                        <!--
                        <div class="message received ">
                            <p>ciao</p>
                        </div>
                        <div class="message sent ">
                            <p>ciao</p>
                        </div>
                    -->
                    </div>

<!--bottom con input dove vengono scritti i mes-->

                    <div class="bottom">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="scrivi un messaggio..." v-model="newMes" @keyup.enter="newMessage">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    <script src="./main/main.js"></script>
</body>
</html>